<template>
    <div>
        <div class="mb-3">
            <label for="name">Product Name</label>
            <div class="input-group">
                <input type="text" v-model="order.name" class="form-control" id="name" placeholder="Product Name" required>
            </div>
        </div>

        <div class="mb-3">
            <label for="quantity">Quantity in stock</label>
            <div class="input-group">
                <input type="number" v-model="order.quantity" class="form-control" id="quantity" placeholder="Quantity in stock" required>
            </div>
        </div>

        <div class="mb-3">
            <label for="price">Price per item</label>
            <div class="input-group">
                <input type="number" v-model="order.price" class="form-control" id="price" placeholder="Price per item" required>
            </div>
        </div>

        <hr class="mb-4">
            <button v-if="!edit" class="btn btn-primary btn-lg btn-block" @click="save">Place</button>
            <button v-else class="btn btn-primary btn-lg btn-block" @click="saveEdit">Edit</button>
        <br><br>
        <table class="table" v-if="orders.length > 0">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity in Stock</th>
                <th scope="col">Price per item</th>
                <th scope="col">Datetime submitted</th>
                <th scope="col">Total value number</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in orders">
                <th scope="row">{{item.id}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.created_at}}</td>
                    <td>{{item.quantity * item.price}}</td>
                <td @click="makeEdit(item)" style="cursor: pointer;">Edit</td>
            </tr>
            <tr >
                <th scope="row">?</th>
                <td>Total</td>
                <td>{{getTotalQuantity}}</td>
                <td></td>
                <td></td>
                <td>{{getTotalValue}}</td>
                <td></td>
            </tr>

            </tbody>
        </table>

    </div>
</template>

<script>
    export default {
        data:  function () {
            return {
                order: {
                    name: '',
                    quantity: '',
                    price: ''
                },
                orders: [],
                edit: false
            }
        },
        mounted(){
            this.get();
        },
        methods: {
            save: function() {
                var self = this;
                axios.post('/save', self.order)
                    .then(function (response) {
                        self.orders.push(response.data);
                        self.order = {name: '', quantity: '', price: ''};
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            get: function() {
                var self = this;
                axios.get('/get')
                    .then(function (response) {
                        self.orders = response.data;
                    })
            },
            makeEdit: function(order) {
                this.edit = true;
                this.order = order;
            },
            saveEdit: function() {
                var self = this;
                    axios.post('/edit', {
                        id: self.order.id,
                        name: self.order.name,
                        price: self.order.price,
                        quantity: self.order.quantity
                    })
                    .then(function (response) {
                        self.order = {name: '', quantity: '', price: ''};
                        self.edit = false;
                        self.get();
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        },
        computed: {
            getTotalQuantity: function() {
                var total = 0;

                for (var i=0; i < this.orders.length; i++) {
                    total += this.orders[i].quantity;
                }

                return total;
            },
            getTotalValue: function() {
                var total = 0;

                for (var i=0; i < this.orders.length; i++) {
                    total += this.orders[i].quantity * this.orders[i].price;
                }

                return total;
            }
        }
    }
</script>
